/* estilos generales */

/* estilos index */

/* estilos catalogo */

/* estilos eventos */

/* estilos empresa */

/* estilos contactos */

.form-control{
    transition: border 1s;
}
.form-control:hover{
    border: 3px solid  cyan;
}
.fondocon{
    background-image: linear-gradient(blue,cyan);
    padding: 20px;
    border: 10px solid rgb(0, 177, 177);
    border-radius: 10px;
}
.form-check-input:hover{
    border: 2px solid cyan;
}







