.empresa{
    @include templateGrid(1);
    background: linear-gradient( $gradiente);

    h2{
        @extend .marginPaddingBottom;
        background-color: $colorGrey;
        border-radius: 20px 20px 0px 0px; 
    }

    &__description{
        @extend .marginPaddingTop;
        background-color: $colorGrey;
        border-radius: 0px 20px 20px 20px;
    }

    h3{
        @extend .marginPaddingBottom;
        background-color: $colorGrey;
        border-radius: 20px 20px 0px 0px; 
    }

    &__other{
        @extend .marginPaddingTop;
        background-color: $colorGrey;
        border-radius: 20px 0px 20px 20px;
        @include templateFlex (center,true);
        // @include templateGrid(3);
        align-items: center;
        justify-content: space-around;
        
        a{
            
            img{
                // margin-top: 10px;
                width: 200px;
            }
        }
    }
}

.contenedorderecho__empresa__description{
    top: 500px;
    left: 10px;
    @extend .marginPaddingTop;
    background-color: $colorGrey;
    border-radius: 20px 0px 20px 20px;
}
