.empresa{
    @include templateGrid(1);
    background: linear-gradient( $gradiente);

    h2{
        @extend .marginPaddingBottom;
        background-color: $colorGrey;
        border-radius: 20px 20px 0px 0px; 
    }

    &__description{
        @extend .marginPaddingTop;
        background-color: $colorGrey;
        border-radius: 0px 20px 20px 20px;
    }

    h3{
        @extend .marginPaddingBottom;
        background-color: $colorGrey;
        border-radius: 20px 20px 0px 0px; 
    }

    &__other{
        @extend .marginPaddingTop;
        background-color: $colorGrey;
        border-radius: 20px 0px 20px 20px;
        @include templateFlex (center,true);
        
        img{
            margin-top: 10px;
            width: 500px;
        }
    }
}

.contenedorderecho__empresa__description{
    top: 500px;
    left: 10px;
    @extend .marginPaddingTop;
    background-color: $colorGrey;
    border-radius: 20px 0px 20px 20px;
}

@media (max-width: 576px){
 .empresa__other img{
     width: 400px;
 }
}

@media (max-width: 460px){
    .empresa__other img{
        width: 300px;
    }
   }